{% extends 'master_template.html' %}


{% block content %}
<div class="row g-5">
    <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.3s">
        <h6 class="section-title bg-white text-start text-primary pe-3">Home Page</h6>
        <h1 class="mb-4">Welcome to eAuction</h1>
        <p style="text-align:justify;">Moreover, administrators have the possibility to accept or refuse auctions proposed by users, to view information about users and items and to create, modify and delete the categories of auctions (auctions regarding cars, books, music stuff etc.)

            The system is realized with 3-tier architecture:  a relational database that store the information regarding items, users, auctions and categories of auction; an application server that cares about the business logic of the system and the presentation layer that consists in the web browser where users can interact with the system
           
            With such architecture, the database is never directly accessed: for example administrators can change the data stored in the database without connecting directly to it but using their own browser.
           </p>
    </div>
</div>
{% endblock content %}

 